---
import BaseLayout from "../../layouts/Baselayout.astro";
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
  <p>日本語　This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
