---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import BaseLayout from "@layouts/Baselayout.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout pageTitle={t("title.top")}>
  <h2>{t("heading.top")}</h2>
</BaseLayout>
