$header: 80px;
$footer: 180px;

body {
  background-color: paleturquoise;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  background-color: palegoldenrod;
  place-items: center left;
  display: grid;
  height: $header;
}

main {
  width: min(60%, 1280px);
  height: calc(100vh - $footer - $header);
  margin: 0 auto;
  background-color: palegreen;
}

.settings-language {
  margin-top: 40px;
}
.heading {
  margin-top: 32px;
}

.languagePiker {
  background-color: palevioletred;
  width: fit-content;
  margin-top: 24px;
}

.lang-list {
  display: flex;
  align-items: center;
  column-gap: 24px;

  li {
    font-size: 24px;
  }
}

footer {
  height: $footer;
  padding: 1rem 5em;
  background-color: palegoldenrod;
}
