a,
img,
span {
  display: block;
}
img {
  width: 100%;
  height: auto;
}

header {
  background-color: palegoldenrod;
  place-items: center left;
  display: grid;
}

footer {
  padding: 1rem 5em;
  background-color: palegoldenrod;
}
