---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import BaseLayout from "@layouts/Baselayout.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout pageTitle={t("title.top")}>
  <div class="settings-language">language : {t("lang.top")}</div>
  <h2 class="heading">{t("heading.top")}</h2>
  <h3>{t("common.top")}</h3>
  <img src={`${import.meta.env.BASE_URL.slice(0, -1)}/img/favicon.svg`} />
</BaseLayout>
