---
import { languages } from "../i18n/ui";
---

<div class="languagePiker">
  <h2 class="lang-title">languagePiker</h2>
  <ul class="lang-list">
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a href={`/${lang}/`}>{label}</a>
        </li>
      ))
    }
  </ul>
</div>
