<section
  class="px-4 max-w-screen-lg mx-auto grid grid-cols-[40%_1fr] gap-x-4 py-16"
>
  <div>
    <h2 class="text-3xl font-bold">DESIGN SYSTEM TEMPLATE</h2>
    <p class="mt-5">
      <span class="text-xl font-bold">Mastering Managerial Essentials</span>
       Our platform offers a straightforward and effective way for individuals
      to master the essential skills of great managers。
    </p>
    <div class="mt-5">
      <a href="#!" class="bg-red-500 py-3 px-2 w-max text-gray-100">View More</a
      >
    </div>
  </div>
  <img src="/img/img-dummy.png" alt="" class="" />
</section>
