---
const links = [
  {
    path: "/",
    text: "Home",
  },
  {
    path: "/about",
    text: "About",
  },
  {
    path: "/blog",
    text: "Blog",
  },
];
---

<header class="px-4 font-bold py-9">
  <nav
    class="flex gap-x-4 max-w-screen-lg justify-between mx-auto text-2xl w-full"
  >
    <h1>COMPANY</h1>
    <div class="flex items-center gap-x-4">
      {
        links.map((link) => {
          return (
            <a class="text-text-accent" href={link.path}>
              {link.text}
            </a>
          );
        })
      }

      <a href="#!" class="bg-surface-primary py-3 px-4 w-max text-gray-100"
        >View More</a
      >
    </div>
  </nav>
</header>
