---
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";
import "@styles/style.css";

const { pageTitle } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title></head
  >

  <body class="text-text-primary">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import "@scripts/menu.js";
    </script>
  </body>
</html>
